<!DOCTYPE html>
<html>
    <head>
        <title>My Friend info</title>
    </head>
    <body>
        <h1>FRIENDS</h1>

        <h2>Name : {{name1}}</h2>
        <h2>Age : {{age}}</h2>
        <img src = "static\kazama.jpg" alt = "KAZAMA" width = "200"/>

        <h2>Name : {{name2}}</h2>
        <h2>Age : {{age}}</h2>
        <img src = "static\bo.jpg" alt = "BOCHAN" width = "200"/>

        <h2>Name : {{name3}}</h2>
        <h2>Age : {{age}}</h2>
        <img src = "static\nene.jpg" alt = "NENE" width = "200"/>

        <h2>Name : {{name4}}</h2>
        <h2>Age : {{age}}</h2>
        <img src = "static\masao.jpg" alt = "MASAO" width = "200"/>
    </body>
</html>